<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>About page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, beatae magni. Nulla perspiciatis neque
        aspernatur amet facere maiores, quaerat autem eligendi eos architecto enim iste, illo quidem? Commodi, rem
        repudiandae.</p>
    <img src="/abc.png" alt="profile">
</body>

</html>